In [25]:
import pandas as pd

In [26]:
books = pd.read_csv("C:\\Users\\MARTA\\Desktop\\git david\\Books.csv", low_memory=False)
ratings = pd.read_csv("C:\\Users\\MARTA\\Desktop\\git david\\Ratings.csv")
# books.head()
# books.info()
# books["Book-Title"].value_counts()
# podívala jsem se jak data vypadají ..head, info, jestli jsou knihy vícekrát nebo vždy jen jednou atd.


# odtrsním nepotřebné sloupce - neznám jednotlivá nakladatelství, tak je samozřejmě možné, že jsou některé známé tím, 
# že tisknou jen TOP scify a fantasy - ale teď to nebudeme brát v potaz 
books.head(2)
new_books = books.drop(columns = ["Image-URL-S","Publisher", "Image-URL-M", "Image-URL-L"])

In [3]:
book_search = new_books[new_books["Book-Title"] == "Lord of the Rings"]
print(book_search)

# nejdříve se chci podívat, zda je Lord v databázi vůbec

Empty DataFrame
Columns: [ISBN, Book-Title, Book-Author, Year-Of-Publication]
Index: []

In [4]:
# nenalezeno, zkusím malým l
book_search = new_books[new_books["Book-Title"].str.lower() == "lord".lower()]
print(book_search)

Empty DataFrame
Columns: [ISBN, Book-Title, Book-Author, Year-Of-Publication]
Index: []

In [5]:
print(new_books["Book-Title"].str.contains("lord", case=False, na=False).sum())

793

In [6]:
print(new_books["Book-Title"].str.contains("lord of the", case=False, na=False).sum())

203

In [7]:
print(new_books["Book-Title"].str.contains("lord of the rings", case=False, na=False).sum())
# tak 120 záznamů s lord of the rings někde

120

In [8]:
LORD_books = new_books[new_books["Book-Title"].str.contains("lord of the rings", case=False, na=False)]
print(LORD_books[["Book-Title", "Book-Author", "Year-Of-Publication"]])

                                               Book-Title       Book-Author  \
91      El Senor De Los Anillos: LA Comunidad Del Anil...  J. R. R. Tolkien
92      El Senor De Los Anillos: Las DOS Torres (Lord ...  J. R. R. Tolkien
93      El Senor De Los Anillos: El Retorno Del Rey (T...  J. R. R. Tolkien
780        The Two Towers (The Lord of the Rings, Part 2)    J.R.R. TOLKIEN
1571    The Fellowship of the Ring (The Lord of the Ri...    J.R.R. TOLKIEN
...                                                   ...               ...
266269  The Fellowship of the Ring (The Lord of the Ri...  J. R. R. Tolkien
266270     The Two Towers (The Lord of the Rings, Book 2)  J. R. R. Tolkien
266271  The Return of the King (The Lord of the Rings,...  J. R. R. Tolkien
270230                              The Lord of the Rings  J. R. R. Tolkien
271169     The Two Towers (The Lord of the Rings, Part 2)  J. R. R. Tolkien

       Year-Of-Publication
91                    2001
92                    2001
93                    2001
780                   1986
1571                  1986
...                    ...
266269                2001
266270                2001
266271                2001
270230                2003
271169                1992

[120 rows x 3 columns]

In [9]:
# takové budou asi v celém seznamu, velké malé pismenka u autora, různé verze AJ vs španělština atd... ale ten Lord of the Ring si upravíme na benchmark - do angličtiny
# ať tam nemáme duplikáty atd...

In [10]:
# ňejdíve si odstraníme velké písmenka v autorech - protože mě to irituje :)
new_books["Book-Author"] = new_books["Book-Author"].str.title()
new_books["Book-Title"] = new_books["Book-Title"].str.title()
new_books.head(20)

,ISBN,Book-Title,Book-Author,Year-Of-Publication
0,0195153448,Classical Mythology,Mark P. O. Morford,2002
1,0002005018,Clara Callan,Richard Bruce Wright,2001
2,0060973129,Decision In Normandy,Carlo D'Este,1991
3,0374157065,Flu: The Story Of The Great Influenza Pandemic...,Gina Bari Kolata,1999
4,0393045218,The Mummies Of Urumchi,E. J. W. Barber,1999
5,0399135782,The Kitchen God'S Wife,Amy Tan,1991
6,0425176428,What If?: The World'S Foremost Military Histor...,Robert Cowley,2000
7,0671870432,Pleading Guilty,Scott Turow,1993
8,0679425608,Under The Black Flag: The Romance And The Real...,David Cordingly,1996
9,074322678X,Where You'Ll Find Me: And Other Stories,Ann Beattie,2002
10,0771074670,Nights Below Station Street,David Adams Richards,1988
11,080652121X,Hitler'S Secret Bankers: The Myth Of Swiss Neu...,Adam Lebor,2000
12,0887841740,The Middle Stories,Sheila Heti,2004
13,1552041778,Jane Doe,R. J. Kaiser,1999
14,1558746218,A Second Chicken Soup For The Woman'S Soul (Ch...,Jack Canfield,1998
15,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998
16,1575663937,More Cunning Than Man: A Social History Of Rat...,Robert Hendrickson,1999
17,1881320189,Goodbye To The Buttermilk Sky,Julia Oliver,1994
18,0440234743,The Testament,John Grisham,1999
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994

In [11]:
# ďíky znalosti trilogie, vím jaké díly obsahuje, tady by se jinak muselo pogooglit co vše autor napsal a co je jen jiný závez toho samého, první druhé třetí vydání atd.
# ˇale nejdíve si to spojíme s ratings a pak vymažeme ty nízko hodnocené atd. dle validate (odstraní duplikáty)

books_plus_ratings = pd.merge(new_books, ratings, on="ISBN")
books_plus_ratings.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,41385,0

In [12]:
# ťed ale máme k každé knize XY řádků navíc, protože co řádek to rating.....
# tady jsem se zeptala chatu jaký je to command aggregate - kolik hlasovalo, jaké ID hlasovali a hodit tam průměr


books_plus_ratings_updated = books_plus_ratings.groupby(["ISBN", "Book-Title", "Book-Author", "Year-Of-Publication"]
).agg({"User-ID": lambda x: list(x),"Book-Rating": ["count", "mean"]}).reset_index()

In [13]:
books_plus_ratings_updated.columns = [
    "ISBN", "Book-Title", "Book-Author", "Year-Of-Publication",
    "User-IDs", "Total-Ratings", "Average-Rating"
]

# ˇmáme nový sloupeček pruměrné hodnocení,dle toho kolik lidí a jak hlasovalo...ted můžeme vymazat duplokáty ze seznamu a ponechat jen ty s nejvyšším průměrným hodnocením

In [14]:
books_plus_ratings_updated.head()

# ťady si porovnávám books_plus_ratings a books_plus_ratings_updated ..zda tam je jen 1X ISBN

,ISBN,Book-Title,Book-Author,Year-Of-Publication,User-IDs,Total-Ratings,Average-Rating
0,0000913154,The Way Things Work: An Illustrated Encycloped...,C. Van Amerongen (Translator),1967,[171118],1,8.0
1,0001010565,Mog'S Christmas,Judith Kerr,1992,"[86123, 209516]",2,0.0
2,0001046438,Liar,Stephen Fry,0,[23902],1,9.0
3,0001046713,Twopence To Cross The Mersey,Helen Forrester,1992,[196149],1,0.0
4,000104687X,"T.S. Eliot Reading \The Wasteland\"" And Other ...",T.S. Eliot,1993,[23902],1,6.0

In [15]:
# ˇok, takže máme vždy jen 1x ISBN v systému, máme autory a knihy stejným způsobem nějak napsané, víme kolik lidí hlasovalo a průměrné hodnocení...

In [16]:
# ˇuž jsme se dívali předtím, že tam byl ten Tolkien vícekrát ta Lord of the Rings, ted si ukážeme jen ty s nejvíce hodnocením a ponecháme si jen ty 3 knihy

In [17]:
# toto jsem použili už pedtím LORD_books = new_books[new_books["Book-Title"].str.contains("lord of the rings", case=False, na=False)]
# jen updatujem jméno našeho datasetu, protože jsme mezitím upravili
LORD_books2 = books_plus_ratings_updated[books_plus_ratings_updated["Book-Title"].str.contains("lord of the rings", case=False, na=False)]
LORD_RATINGS = LORD_books2.sort_values(by="Total-Ratings", ascending=False).head(6)
print(LORD_RATINGS)


# ťady šlo zjitit, že sice average rating může dosáhnout třeba 10tky, ale když dáme filtr na to, dle počtu hlasujících, klesne to na 5...to by chtělo tež pročistit v tom data setu

              ISBN                                         Book-Title  \
43238   0345339681  The Hobbit : The Enchanting Prelude To The Lor...
43239   0345339703  The Fellowship Of The Ring (The Lord Of The Ri...
43240   0345339711     The Two Towers (The Lord Of The Rings, Part 2)
43241   0345339738  The Return Of The King (The Lord Of The Rings,...
129842  0618002227  The Fellowship Of The Ring (The Lord Of The Ri...
130024  0618129022            The Lord Of The Rings (Movie Art Cover)

             Book-Author Year-Of-Publication  \
43238     J.R.R. Tolkien                1986
43239     J.R.R. Tolkien                1986
43240     J.R.R. Tolkien                1986
43241     J.R.R. Tolkien                1986
129842  J. R. R. Tolkien                1999
130024    J.R.R. Tolkien                2001

                                                 User-IDs  Total-Ratings  \
43238   [277427, 277744, 277776, 277812, 2746, 3556, 4...            281
43239   [278550, 1167, 1903, 3556, 6102, 8759, 10354, ...            257
43240   [638, 1903, 3556, 4600, 10354, 11676, 13552, 1...            177
43241   [1903, 3556, 6700, 10354, 12272, 13552, 13582,...            173
129842  [254, 11676, 11944, 13191, 16601, 26057, 30711...             63
130024  [5539, 11993, 13094, 26196, 26544, 27291, 2731...             62

        Average-Rating
43238         5.007117
43239         4.505837
43240         4.276836
43241         4.184971
129842        6.206349
130024        5.516129

In [18]:
# tady jdu step back
books_plus_ratings_bez_duplicates=books_plus_ratings_updated.sort_values("Total-Ratings",ascending = False).drop_duplicates(subset =["Book-Author", "Year-Of-Publication"], keep = "first")

# ťento kod znám z kurzu (sešit) ale použili jsme na imdb movies

In [19]:
books_plus_ratings_bez_duplicates.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,User-IDs,Total-Ratings,Average-Rating
215951,0971880107,Wild Animus,Rich Shapero,2004,"[276925, 276939, 276954, 277042, 277157, 27737...",2502,1.019584
38570,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"[276925, 277195, 277413, 277427, 277439, 27775...",1295,4.468726
70798,0385504209,The Da Vinci Code,Dan Brown,2003,"[276925, 277427, 277439, 277589, 638, 882, 107...",883,4.652322
7344,0060928336,Divine Secrets Of The Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,"[277895, 278007, 278144, 805, 900, 1025, 2337,...",732,3.448087
32370,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,"[277378, 277462, 277937, 278137, 278350, 446, ...",723,4.334716
87397,044023722X,A Painted House,John Grisham,2001,"[277212, 277411, 278418, 243, 256, 1435, 1530,...",647,3.187017
21342,0142001740,The Secret Life Of Bees,Sue Monk Kidd,2003,"[277427, 277803, 277958, 278541, 254, 383, 507...",615,4.219512
145042,067976402X,Snow Falling On Cedars,David Guterson,1995,"[277888, 277997, 254, 882, 1535, 2766, 2891, 3...",614,3.255700
133142,0671027360,Angels &Amp; Demons,Dan Brown,2001,"[277439, 278254, 278390, 278422, 114, 1031, 18...",586,3.718430
93847,0446672211,Where The Heart Is (Oprah'S Book Club (Paperba...,Billie Letts,1998,"[277901, 277938, 278144, 278418, 278633, 595, ...",585,4.105983

In [20]:
# ˇok, takže ted máme data set, kde máme 1X ISBN, vždy jen knihu vydanou v daném roce (ty jino jazyčné zůstavají), 
# a máme hlavní rozdělovač v novém Average rating

DOPORUCENI

In [21]:
# proč nezařazuji dataset " Users"
# o některých regionech/zemích jsou známy kulturní rozdíly...někde se čte náboženská literatura víc, někde míň (Salt Lake city vs Havíov.
#  tím, že nemám e u knih uvedeny žánry, se to ztěžuje

In [22]:
# users = pd.read_csv("C:\\Users\\MARTA\\Desktop\\git david\\Users.csv")
# users.head()
# users.info()

In [ ]:
# tady vidíme, že polovina Age chybí, jako jde hypotetizovat že určitá generace ve vlnách má zájem o ten a ten žánr - moje babička asi by nečetla korejské komiksy, ale 
# ňevidím důvod tady dávat nějaký mean 
# ˇjako jediné vodítko tady by mohla být ta země, ale jelikož je náš dotaz v češtině - a máme jen 202 userů z témeř 300.000 
# takže to co se líbí 0.06% v česku bydlícím userům z datasetu se nemusí líbit mě :) - tak proto nezahrnuji tento dataset vůbec

posledni úpravy

In [27]:
books_plus_ratings_bez_duplicates.head(4)
# ještě si vymažu ten prní sloupeček

,ISBN,Book-Title,Book-Author,Year-Of-Publication,User-IDs,Total-Ratings,Average-Rating
215951,0971880107,Wild Animus,Rich Shapero,2004,"[276925, 276939, 276954, 277042, 277157, 27737...",2502,1.019584
38570,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"[276925, 277195, 277413, 277427, 277439, 27775...",1295,4.468726
70798,0385504209,The Da Vinci Code,Dan Brown,2003,"[276925, 277427, 277439, 277589, 638, 882, 107...",883,4.652322
7344,0060928336,Divine Secrets Of The Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,"[277895, 278007, 278144, 805, 900, 1025, 2337,...",732,3.448087

In [28]:
data_for_recommendation = books_plus_ratings_bez_duplicates.set_index("ISBN").sort_index()
data_for_recommendation.head()

,Book-Title,Book-Author,Year-Of-Publication,User-IDs,Total-Ratings,Average-Rating
ISBN,,,,,,
0000913154,The Way Things Work: An Illustrated Encycloped...,C. Van Amerongen (Translator),1967,[171118],1,8.0
0001010565,Mog'S Christmas,Judith Kerr,1992,"[86123, 209516]",2,0.0
0001046713,Twopence To Cross The Mersey,Helen Forrester,1992,[196149],1,0.0
000104687X,"T.S. Eliot Reading \The Wasteland\"" And Other ...",T.S. Eliot,1993,[23902],1,6.0
0001048473,Nothing Can Be Better,Barns &Amp; Budd,1996,[23902],1,0.0

In [32]:
# kdyby se naše situace s dataframe Users změnila a byl pro nás důležitý, tak bychom ponechalo User IDs 
# to jsem mohla udělat hned ze startu, kdybych se více zamyslela nad Users už na začátku
data_for_recommendation.drop(columns = "User-IDs")
data_for_recommendation.head(2)

,Book-Title,Book-Author,Year-Of-Publication,User-IDs,Total-Ratings,Average-Rating
ISBN,,,,,,
0000913154,The Way Things Work: An Illustrated Encycloped...,C. Van Amerongen (Translator),1967,[171118],1,8.0
0001010565,Mog'S Christmas,Judith Kerr,1992,"[86123, 209516]",2,0.0

ML

In [75]:
# můj recommendation system se bude rozhodovat dle podobného hodnocení (protože nemáme uveden žánr knih, popřípadě dle autora)...ale tady bychom mohli brzy "dojet"
# protože někdo třeba napíše jen 1 hit a ostatní jsou propadáky...nebo má jen 1 knihu v datasetu atd...asi nejjednoduší je vybrat velice stejné hodnocení
# ˇmít žánry tak jedu Naive Bayes

from sklearn.neighbors import NearestNeighbors
import warnings
warnings.filterwarnings('ignore')

knn_model = NearestNeighbors(n_neighbors=11, metric="euclidean") 
knn_model.fit(data_for_recommendation[["Average-Rating"]])

# dala jsem 10 neughbors, je tam hodně knih v datasetu


# Duležité  tady u KNN je,že neděláme test split atd. nic netrénujeme, jen najdeme NN a uděláme prediction!

NearestNeighbors(metric='euclidean', n_neighbors=11)

In [76]:
# no a tady si to zkusíme
def recommendations(nazev_knihy, n_recommendations=11):
    user_hleda_podobnou = data_for_recommendation[data_for_recommendation["Book-Title"].str.lower() == nazev_knihy.lower()]
   
    if user_hleda_podobnou.empty:
        return pd.DataFrame({"Book-Title": [f"Knihu '{nazev_knihy}' jsem nenašla."]})
# ˇměla jsem tady :  return (f"Knihu '{nazev_knihy}' co jsi ale potom mi to blblo při testování,...protože mi
# ťo v pípadě neznámé knihy vyhazovalo error -  string indices must be integers, not 'str' ...dodala jsem 
# pd.DataFrame dle chatu
    
    podobne_knihy = user_hleda_podobnou["Average-Rating"].values[0]  
# nula protože KNN je jen 1 value
    distances, indices = knn_model.kneighbors([[podobne_knihy]], n_neighbors=n_recommendations)
    doporucene_knihy = data_for_recommendation.iloc[indices[0][1:]]
    
    return doporucene_knihy[["Book-Title", "Book-Author", "Average-Rating"]]
    
# distances, indices a data_for_recommendation.iloc[indices[0][1:]]- mi musel poradit chat, házelo mi to error

In [ ]:
# příklad

nazev_knihy = input("Jakou knihu máš rád: ")
output = recommendations(nazev_knihy)
print(output["Book-Title"])

In [78]:
# pro hezčí implementaci toho doporučení by se dala  !pip install ipywidgets
# import ipywidgets as widgets
# from IPython.display import display
# jen jsem viděla, v kurzu, ale nezkoušela - 
# hodí to droup down a button

In [82]:
# KNN je lazy learner - nejde na něj udělat testing (evaluaci),ty predictions jsou na test datech...
# takže this is it :) takže pokud ho uploadnem, musíme mít všechny ta trénovací data sebou

# Když to chceme trochu jinak 
- řekneme si co je top literatura a stanovíme si trashold na rating
- chceme doporučovat jen lepe hodnocené knihy, protože jsou třeba dražší apod.

In [85]:
# vrátím se k data_for_recommendation a podívám se na rozpětí toho ratings

print(data_for_recommendation["Average-Rating"].describe())

count    199206.000000
mean          2.896617
std           3.302950
min           0.000000
25%           0.000000
50%           1.800000
75%           5.000000
max          10.000000
Name: Average-Rating, dtype: float64

In [90]:
# tak max 10,mean 2.8....
# top knihy budou mít v našem systému jen 7. rating a ne méně
top_books_trashold = 7.5
rating_top_books = data_for_recommendation.query("`Average-Rating` >= @top_books_trashold")
rating_top_books.head()

,Book-Title,Book-Author,Year-Of-Publication,User-IDs,Total-Ratings,Average-Rating
ISBN,,,,,,
0000913154,The Way Things Work: An Illustrated Encycloped...,C. Van Amerongen (Translator),1967,[171118],1,8.0
0001055607,Cereus Blooms At Night,Shani Mootoo,0,[85526],1,8.0
0001061127,Chess For Young Beginners,William T. Mcleod,1975,[131966],1,8.0
0001360469,Babe Dressing,Mandy Stanley,1997,[10067],1,10.0
0001374869,Baby Plays (Collins Baby And Toddler Series),Fiona Pragoff,1994,[10067],1,10.0

In [91]:
rating_top_books.shape

(29396, 6)

In [96]:
data_for_recommendation2 = rating_top_books.pivot_table(index="Book-Title", columns="Total-Ratings", values="Average-Rating").fillna(0)
data_for_recommendation2.head(3)
# na PIVOT MATRIX pivot_table(index="Book-Title",columns="User-ID",values="Book-Ranting").fillna(0)...) co mi tu ty knihy dá jako indexy

Total-Ratings,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,54
Book-Title,,,,,,,,,,,,,,,,
Microsoft Application Architecture For Microsoft .Net: Designing Application (Pro-Other),9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Devil Will Drag You Under,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$30 Film School,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [117]:
knn_model2 = NearestNeighbors(n_neighbors=11, metric="cosine", algorithm="brute")
# cosine je lepší, protoe hledá podobnosti v ratingu
knn_model2.fit(data_for_recommendation2)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=11)

In [118]:
def recommendations2(nazev_knihy, n_recommendations=6):
    
    user_hleda_podobnou = data_for_recommendation2[
        data_for_recommendation2.index.str.strip().str.lower() == nazev_knihy.strip().lower()
    ]
   
    
    if user_hleda_podobnou.empty:
        return print(f"Knihu '{nazev_knihy}' jsem nenašla. Zkus v angličtině nebo zkontroluj název.")

    
    query_index = data_for_recommendation2.index.get_loc(user_hleda_podobnou.index[0])
    
    
    distances, indices = knn_model2.kneighbors(
        data_for_recommendation2.iloc[query_index, :].values.reshape(1, -1),
        n_neighbors=n_recommendations
    )

    
    print(f"\nRecommendations for '{nazev_knihy}':\n")
    for i in range(1, len(distances.flatten())):
        print(f"{i}: {data_for_recommendation2.index[indices.flatten()[i]]}, with distance of {distances.flatten()[i]:.4f}")

nazev_knihy2 = input("Jakou knihu máš rád: ")
recommendations2(nazev_knihy2)

# ťady jsem si to nechala vygenerovat chatem

Jakou knihu máš rád:  The Devil Will Drag You Under

Recommendations for 'The Devil Will Drag You Under':

1: Sara'S Bounty, with distance of 0.0000
2: Santa'S Holiday Treats: A Wilton Book Of Recipes &Amp; Ideas, with distance of 0.0000
3: Santiago : A Myth Of The Far Future (Santiago), with distance of 0.0000
4: Sapphire And Steel, with distance of 0.0000
5: Santa'S Favorite Cookies: Cookie Cutter Set &Amp; Recipe Book (Cookie Cutters), with distance of 0.0000